doctype html
html(lang='en')
	body
		title= title
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width', initial-scale='1')
		meta(name='description', content='')
		meta(name='author', content='')
		
		<!-- libs styles -->
		link(rel='stylesheet', href='/css/vendor/development/bootstrap.css')
		link(rel='stylesheet', href='/css/vendor/development/bootstrap-theme.css')

		<!-- custom styles -->
		link(rel='stylesheet', href='/css/cover.css')

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- [if lt IE 9]>
		script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
		script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
		<!--[endif]-->
	body
		div(class='site-wrapper')
			div(class='site-wrapper-inner')
				div(class='cover-container')
					div(class='masthead clearfix')
						div(class='inner')
							h3(class='masthead-brand') Aircraft Upgrade
							ul(class='nav masthead-nav')
								li.active: a(href='/', title='Welcome to Aircraft Upgrade') Home
								li: a(href='/about', title='About Us') About
								li: a(href='/contact', title='Contact Us') Contact
								if user
									li: a(href='/dashboard', title='Welcome #{user.username}', id='dashboard') #{user.username}
										ul(class='drop')
											li: a(href='/dashboard/#{user.username}', title='Welcome #{user.username}') Dashboard
											li: a(href='/signout') Sign Out
								else 
									li: a(href='/signin', title='Sign In') Signin
									li: a(href='/signup', title='Sign Up') Signup

					div(class='inner cover')
						h1(class='cover-heading') Cover you page
						p(class='lead')
							Cover is a one-page template for building simple and beautiful home pages. Edit the text, and add your own fullscreen background photo to make it your own.
						p(class='lead'): a(href='/signout', class='btn tbn-lg btn-default') Learn more...

					div(class='mastfoot')
						div(class='inner')
							p
								| &copy; 2014 
								a(href='/', title='Welcome to Aircraft Upgrade') Aircraft Upgrade
								|, by 
								a(href='https://facebook.com/den.isahac') den.isahac

		<!-- libs scripts -->
		script(src='/js/vendor/development/jquery.js')
		script(src='/js/vendor/development/bootstrap.js')

		<!-- custom scripts -->

